:root {
  --font-family-heading: 'Mea Culpa', cursive;
  --font-family-subheading: 'Aboreto', cursive;

  --color-white: #f9f6f4;
  --color-black: #231f1a;

  --color-foreground: var(--color-black);
  --color-foreground-muted: #624f3b;

  --color-background: var(--color-white);
  --color-background-muted: #e9d6c8;

  --color-grey: #676d61;

  --color-primary: #2f765d;
  --color-secondary: #85122a;
  --color-tertiary: #b54f29;

  --container-size-large: 1200px;

  --container-padding: 20px;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'EB Garamound', serif;
  color: var(--color-foreground);
  background-color: var(--color-background);
  background-image: url('/images/paper-texture.webp');
}

main {
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-family: var(--font-family-heading);
  font-weight: 400;
}

h2 {
  font-family: var(--font-family-subheading);
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration-thickness: 2px;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
  --color-background: #231f1a;
  --color-background-muted: #362c21;

  --color-foreground: #f9f6f4;
  --color-foreground-muted: #eedbcd;

  --color-grey: #abb3a4;

  /* --color-primary: #2f765d;
  --color-secondary: #85122a;
  --color-tertiary: #e2b2a0; */
  }
}
