:root {
  --font-family-heading: 'Great Vibes', cursive;
  --font-family-subheading: 'Aboreto', cursive;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'EB Garamound', serif;
  color: rgb(78, 63, 40);
  background: rgb(247, 244, 234);
}

h1 {
  font-family: var(--font-family-heading);
  font-weight: 400;
}

h2 {
  font-family: var(--font-family-subheading);
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    background: rgb(19, 13, 10);
    color: rgb(241, 236, 216);
  }
}
